<template>

	<fieldset class="h-rent-form-footer">
		<div class="h-rent-form-footer-inner">
			<p class="h-rent-form-footer-inner-label">{{ content.headings.total_sum }}</p>
			<p class="h-rent-form-footer-inner-value">{{ total_sum }}</p>
		</div>
	</fieldset>

</template>

<script>

	export default {
		name: 'HousingRentFooter',

		props: {
			content: {
				type: Object,
				required: true
			},

			total_sum: {
				type: String,
				required: true
			}
		}
	}

</script>

<style lang="scss" scoped>

	@import '../mixins.scss';

	.h-stylized {

		* {
			box-sizing: border-box;
		}

		.h-rent-form-footer {
			margin: 20px 0;
			padding: 0;
			border: 0;
			box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
			border-radius: 2px;
			text-align: left;
			overflow: hidden;
		}

		.h-rent-form-footer-inner {
			background-color: $accent;
			color: $light;
			padding: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.h-rent-form-footer-inner-label {
			margin: 0 0.5rem 0;
		}

		.h-rent-form-footer-inner-value {
			font-size: 2rem;
			margin: 0;
		}
	}

</style>