<template>

	<div class="h-rent-form-check">
		<input
			type="checkbox"
			:id="id"
			:name="name"
			ref="checkInput"
			@change="setCheckValue"
		>
	</div>

</template>

<script>

	export default {
		name: 'HousingRentCheckboxInput',

		props: {
			id: {
				type: String,
				required: true
			},

			name: {
				type: String,
				required: true
			}
		},

		methods: {
			setCheckValue() {
				this.$emit(`set-value`, { id: this.id, value: this.$refs.checkInput.checked })
			}
		}
	}

</script>

<style lang="scss" scoped>

	@import '../mixins.scss';

	.h-stylized {

		* {
			box-sizing: border-box;
		}

		.h-rent-form-check {
			flex: none;
			text-align: left;
			width: 30px;

			input[type="checkbox"] {
				margin: 0;
				padding: 0;
			}
		}
	}

</style>