<template>

	<div class="h-rent-input-number">
		<input
			inputmode="numeric"
			:name="name"
			:value="value"
			ref="numericInput"
			@input="checkIsValid"
		>
	</div>

</template>

<script>

	export default {
		name: 'HousingRentNumberInput',

		props: {
			name: {
				type: String,
				required: true
			},

			value: {
				type: Number,
				required: true
			},

			is_float: {
				type: Boolean,
				required: false
			}
		},

		methods: {
			checkIsValid() {
				let val = this.$refs.numericInput.value
				let dot_used = false

				this.$refs.numericInput.value = Array.prototype.filter.call(val, (char) => {
					if (this.is_float) {
						if(char === '.' || char === ',') {
							if(dot_used) {
								return false
							}
							return dot_used = true
						}
					}

					return !isNaN(char)
				}).join('')

				this.$emit(`set-value`, Number(this.$refs.numericInput.value.replace(',', '.')))
			}
		}
	}

</script>

<style lang="scss">

	@import '../mixins.scss';

	.h-stylized {

		* {
			box-sizing: border-box;
		}

		.h-rent-input-number {
			width: 200px;

			input[inputmode="numeric"] {
				width: 100%;
				max-width: 100%;
				border: 1px solid #dbdbdb;
				-webkit-appearance: none;
				font-size: 1rem;
				height: 2.25rem;
				line-height: 1.5;
				padding: 0 .75rem;
				margin: 0;
				box-sizing: inherit;
				letter-spacing: normal;
				word-spacing: normal;
				text-transform: none;
				text-indent: 0;
				text-shadow: none;
				text-rendering: auto;
				cursor: text;
				border-radius: 3px;
				outline: none;

				&:focus,
				&:active,
				&:hover {
					box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
				}
			}
		}
	}

</style>