<template>

	<div class="h-rent-square-inner">
		<label for="apartment_square">{{ content.labels.square_quantity }}</label>
		
		<housing-rent-number-input
			name="square_input"
			:value="value"
			:is_float="true"
			@set-value="setSquareInputValue"
		/>

		<span>m<sup>2</sup></span>
	</div>

</template>

<script>

	import HousingRentNumberInput from './HousingRentNumberInput.vue'

	export default {
		name: 'HousingRentSquareMeters',

		components: {
			HousingRentNumberInput
		},

		props: {
			content: {
				type: Object,
				required: true
			},

			value: {
				type: Number,
				required: true
			}
		},

		methods: {
			setSquareInputValue(val) {
				this.$emit('set-value', val)
			}
		}
	}

</script>

<style lang="scss">

	@import '../mixins.scss';

	.h-stylized {

		* {
			box-sizing: border-box;
		}

		.h-rent-square-inner {
			display: flex;
			align-items: center;

			label,
			span {
				font-weight: 700;
				margin-right: 10px;
			}

			span {
				margin-left: 10px;
			}
		}
	}

</style>