<template>

	<section :class="[{'h-stylized': stylized}, 'h-rent-container']">
		<h2 class="h-rent-app-title">{{ content.title }}</h2>

		<housing-rent-collapse-button
			v-if="collapsed === true"
			:is_collapsed="is_collapsed"
			:content="content.collapse"
			@collapse-app="collapseApp"
		/>

		<form class='h-rent-form' v-if="!is_collapsed">

			<housing-rent-form-fieldset
				:content="content"
				:value="square_value"
				:heading="content.headings.apartment_size"
				component="housing-rent-square-meters"
				@set-value="setSquareInputValue"
			/>

			<housing-rent-form-fieldset
				:content="content.zones"
				:heading="content.headings.location"
				component="housing-rent-check-inner"
				name="location"
				type="radio"
				@set-value="setLocationValue"
			/>

			<housing-rent-form-fieldset
				:content="content.electricity_payment"
				:heading="content.headings.electricity"
				component="housing-rent-check-inner"
				name="electricity"
				type="radio"
				@set-value="setElectricityValue"
			/>

			<housing-rent-form-fieldset
				:content="content.heating_payment"
				:heading="content.headings.heating"
				component="housing-rent-check-inner"
				name="heating"
				type="radio"
				@set-value="setHeatingValue"
			/>

			<housing-rent-form-fieldset
				:content="content.garage_payment"
				:heading="content.headings.garage"
				component="housing-rent-check-inner"
				name="garage"
				type="checkbox"
				@set-value="setGarageValue"
			/>

			<housing-rent-footer
				:content="content"
				:total_sum="total_sum"
			/>

		</form>
	</section>

</template>

<script>

import CONTENT from '../content.js'
import HousingRentCollapseButton from './HousingRentCollapseButton.vue'
import HousingRentFormFieldset from './HousingRentFormFieldset.vue'
import HousingRentFooter from './HousingRentFooter.vue'

export default {
	name: 'HousingRentMain',

	props: {
		locale: {
			type: String,
			required: false,
			default: 'fi'
		},

		collapsed: {
			type: Boolean,
			required: false,
			default: false
		},

		stylized: {
			type: Boolean,
			requried: false,
			default: true
		}
	},

	components: {
		HousingRentCollapseButton,
		HousingRentFormFieldset,
		HousingRentFooter
	},

	created() {
		const content = CONTENT.find(loc => loc.lang.toLowerCase() === this.locale.toLowerCase())
		content.garage_payment.forEach(el => {
			this[el.id] = el.value
			this[el.id].is_active = false
		})
		this.content = content
	},

	data() {
		return {
			is_collapsed: this.collapsed,

			is_stylized: this.stylized,

			content: null,

			square_value: 0,

			active_zone: 0,

			active_zone_base: 0,

			active_zone_square: 0,

			active_electricity: 0,

			active_heating: 0,

			garage_cold: null,

			garage_heat: null,

			total_sum: `${this.formatTotalSum(0)} ${String.fromCharCode(8364)}`
		}
	},

	methods: {
		collapseApp(val) {
			this.is_collapsed = val
		},

		setSquareInputValue(val) {
			this.square_value = val
			this.totalSumCount()
		},

		setLocationValue(id) {
			const chosen_zone = this.content.zones.find(el => el.id === id).value
			this.active_zone = chosen_zone.zone
			this.active_zone_base = chosen_zone.base
			this.active_zone_square = chosen_zone.square
			this.totalSumCount()
		},

		setElectricityValue(id) {
			const chosen_electricity = this.content.electricity_payment.find(el => el.id === id).value
			this.active_electricity = chosen_electricity
			this.totalSumCount()
		},

		setHeatingValue(id) {
			const chosen_heating = this.content.heating_payment.find(el => el.id === id).value
			this.active_heating = chosen_heating
			this.totalSumCount()
		},

		setGarageValue(data) {
			this[data.id].is_active = data.value
			this.totalSumCount()
		},

		totalSumCount() {
			if (this.square_value > 0) {
				let result = (this.square_value * this.active_zone_square) + ((this.active_electricity * this.square_value) - (this.active_heating * this.square_value)) + this.active_zone_base

				if (this.active_zone > 0) {
					if (this.active_zone < 5) {
						if (this.garage_cold.is_active) {
							result += this.garage_cold.a
						}

						if (this.garage_heat.is_active) {
							result += this.garage_heat.a
						}
					} else {
						if (this.garage_cold.is_active) {
							result += this.garage_cold.b
						}

						if (this.garage_heat.is_active) {
							result += this.garage_heat.b
						}
					}
				}

				this.total_sum = `${this.formatTotalSum(result)} ${String.fromCharCode(8364)}`
			}
		},

		formatTotalSum(sum) {
			const loc_code = `${this.locale.toLowerCase()}-${this.locale.toUpperCase()}`
			return `${sum.toLocaleString(loc_code, { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`
		}
	}
}

</script>

<style lang="scss" scoped>

	@import '../mixins.scss';

	.h-stylized {

		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: 'Roboto', sans-serif;

		* {
			box-sizing: border-box;
		}

		.h-rent-app-title {
			text-align: center;
			color: $accent;
			font-weight: 700;
			font-size: 2rem;
			margin: 0 auto 1.5rem;
		}
	}

</style>