<template>

	<fieldset class="h-rent-form-fieldset">

		<housing-rent-section-header :heading="heading" />

		<div class="h-rent-form-fieldset-inner">

			<component
				:is="component"
				:content="content"
				:value="value"
				:name="name"
				:type="type"
				@set-value="setValue"
			/>

		</div>
	</fieldset>

</template>

<script>

	import HousingRentSectionHeader from './HousingRentSectionHeader.vue'
	import HousingRentSquareMeters from './HousingRentSquareMeters.vue'
	import HousingRentCheckInner from './HousingRentCheckInner.vue'

	export default {
		name: 'HousingRentFormFieldset',

		components: {
			HousingRentSectionHeader,
			HousingRentSquareMeters,
			HousingRentCheckInner
		},

		props: {
			content: {
				required: true
			},

			heading: {
				type: String,
				required: true
			},

			value: {
				type: Number,
				required: true
			},

			component: {
				type: String,
				required: true
			},

			name: {
				type: String,
				required: false
			},

			type: {
				type: String,
				required: false
			}
		},

		methods: {
			setValue(val) {
				this.$emit('set-value', val)
			}
		}
	}

</script>

<style lang="scss" scoped>

	@import '../mixins.scss';

	.h-stylized {

		* {
			box-sizing: border-box;
		}

		.h-rent-form-fieldset {
			margin: 20px 0;
			padding: 0;
			border: 0;
			box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
			border-radius: 2px;
			text-align: left;
			overflow: hidden;
		}

		.h-rent-form-fieldset-inner {
			padding: 15px 15px 25px;
		}
	}

</style>