<template>

	<div class="h-rent-form-check-section">
		<div
			class="h-rent-form-check-item"
			v-for="item in content"
			:key="item.id"
		>
			<housing-rent-radio-input
				v-if="type === 'radio'"
				:id="item.id"
				:name="name"
				@set-value="setValue"
			/>

			<housing-rent-checkbox-input
				v-else-if="type === 'checkbox'"
				:id="item.id"
				:name="name"
				@set-value="setValue"
			/>

			<div class="h-rent-form-check-content">
				<label :for="item.id">
					<strong>{{ item.title }}</strong>
					<span v-if="item.text || item.locs">{{ item | getFormattedLabel }}</span>
				</label>
			</div>
		</div>
	</div>

</template>

<script>

	import HousingRentRadioInput from './HousingRentRadioInput.vue'
	import HousingRentCheckboxInput from './HousingRentCheckboxInput.vue'

	export default {
		name: 'HousingRentCheckInner',

		components: {
			HousingRentRadioInput,
			HousingRentCheckboxInput
		},

		props: {
			content: {
				type: Array,
				required: true
			},

			name: {
				type: String,
				required: true
			},

			type: {
				type: String,
				required: true
			}
		},

		filters: {
			getFormattedLabel(item) {
				let text_label_span = ''

				text_label_span += item.text ? ` (${item.text} ` :' ('

				text_label_span += item.locs ? `${item.locs.join(', ')})` : ')'

				return text_label_span
			}
		},

		methods: {
			setValue(val) {
				this.$emit(`set-value`, val)
			}
		}
	}

</script>

<style lang="scss" scoped>

	@import '../mixins.scss';

	.h-stylized {

		* {
			box-sizing: border-box;
		}

		.h-rent-form-check-item {
			display: flex;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.h-rent-form-check-content {
			flex: 1 1 0;
		}
	}

</style>