<template>

	<button
		class="h-rent-collapse-button"
		@click="collapseApp"
	>
		<span>{{ is_collapsed ? content.on : content.off }}</span>

		<housing-rent-icons
			v-if="is_collapsed"
			name="arrow_down"
			:styles="icon_styles"
		/>

		<housing-rent-icons
			v-if="!is_collapsed"
			name="arrow_up"
			:styles="icon_styles"
		/>
	</button>

</template>

<script>

	import HousingRentIcons from './HousingRentIcons.vue'

	export default {
		name: 'HousingRentCollapseButton',

		components: {
			HousingRentIcons
		},

		props: {
			is_collapsed: {
				type: Boolean,
				required: true
			},

			content: {
				type: Object,
				required: true
			}
		},

		data() {
			return {
				collapse_state: this.is_collapsed,

				icon_styles: [
					'width: 10px;',
					'fill: #1284e7;'
				]
			}
		},

		methods: {
			collapseApp() {
				this.collapse_state = this.collapse_state ? false : true
				this.$emit('collapse-app', this.collapse_state)
			}
		}
	}

</script>

<style lang="scss" scoped>

	@import '../mixins.scss';

	.h-stylized {

		.h-rent-collapse-button {
			width: 100%;
			height: 2.5rem;
			border: 1px solid $accent;
			background-color: $light;
			color: $accent;
			cursor: pointer;
			padding: 0 15px;
			display: flex;
			align-items: center;
			outline: none;
			justify-content: space-between;
			border-radius: 5px;

			span {
				font-size: 1rem;
			}
		}
	}

</style>