<template>

	<header class="h-rent-fieldset-header">{{ heading }}</header>

</template>

<script>

	export default {
		name: 'HousingRentSectionHeader',

		props: {
			heading: {
				type: String,
				required: false
			}
		}
	}

</script>

<style lang="scss" scoped>

	@import '../mixins.scss';

	.h-stylized {

		.h-rent-fieldset-header {
			padding: 15px;
			margin-bottom: 10px;
			background-color: $pale;
			font-weight: 700;
		}
	}

</style>